Dictionary in Python is a collection of keys values, used to store data like a map , which unlike other data types which hold only a single value as an element

in some languages it is known as map or associative arrays

Characteristics
* Mutable
* Indexing has no meaning
* Keys can not be duplicated
* keys can not be mutable items

## Creating

In [15]:
# empty
d = {}
print(d,type(d))

# 1D dict
d = {'name':'vikas','age':21,'degree':'B Tech'}
print(d)

# with mixed keys
d = {(1,2,3):1,'hello':'world'}
print(d)

# 2D dict
d = {'name':'vikas','age':21,'college':'NIT DGP','semester':3,
    'subjects':{
        'math':99,
        'dsa':78,
        'oop':89
    }
    }
print(d)

{} <class 'dict'>
{'name': 'vikas', 'age': 21, 'degree': 'B Tech'}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'vikas', 'age': 21, 'college': 'NIT DGP', 'semester': 3, 'subjects': {'math': 99, 'dsa': 78, 'oop': 89}}

In [19]:
# type conversion
d = dict([('name','vikas'),('age',21),('marks',87)])
print(d)

# duplicates
d = {'name':'vikas','name':'kasaudhan'}
print(d)

{'name': 'vikas', 'age': 21, 'marks': 87}
{'name': 'kasaudhan'}

In [21]:
# mutable items as keys
d = {'name':'vikas',[1,2,3]:3}
print(d)

TypeError: unhashable type: 'list'

In [23]:
d = {'name':'vikas',(1,2,3):3}
print(d)

{'name': 'vikas', (1, 2, 3): 3}

## Accessing

In [26]:
dic = {'name':'vikas','age':21}
dic[0]

KeyError: 0

In [28]:
dic = {'name':'vikas','age':21}
dic['name']

'vikas'

In [30]:
dic.get('name')

'vikas'

## Adding key-value pair

In [33]:
dic

{'name': 'vikas', 'age': 21}

In [37]:
dic['gender'] = 'male'
dic
dic['weight'] = 71
dic

{'name': 'vikas', 'age': 21, 'gender': 'male', 'weight': 71}

## Remove key-value pair

In [48]:
dic = {'name':'vikas','age':21,'gender':'male',3:9}
# pop
dic.pop(3)
print(dic)

# popitem
dic.popitem()
print(dic)

#del
del dic['age']
print(dic)

# clear
dic.clear()
print(dic)

#del
del dic
print(dic)

{'name': 'vikas', 'age': 21, 'gender': 'male'}
{'name': 'vikas', 'age': 21}
{'name': 'vikas'}
{}

NameError: name 'dic' is not defined

## Editing key-value pair

In [53]:
dic = {'name':'vikas','age':21,'gender':'male',3:9}
dic['name'] = "Madhuri"
dic['gender'] = 'female'
print(dic)

{'name': 'Madhuri', 'age': 21, 'gender': 'female', 3: 9}

## Dictionary Operations

* Membership (works on key only)
* Iteration

In [57]:
dic = {'name':'vikas','age':21,'gender':'male',3:9}
'name' in dic

True

In [59]:
dic = {'name':'vikas','age':21,'gender':'male',3:9}

for i in dic:
    print(i, dic[i])

name vikas
age 21
gender male
3 9

## Dictionary Functions

In [70]:
# len / sorted
dic = {'name':'vikas','age':21,'gender':'male',3:9}
print(len(dic))
sorted(dic,key=str)

4

[3, 'age', 'gender', 'name']

In [78]:
# items / keys / values
dic = {'name':'vikas','age':21,'gender':'male',3:9}
print(dic)
print(dic.items())
print(dic.keys())
print(dic.values())

{'name': 'vikas', 'age': 21, 'gender': 'male', 3: 9}
dict_items([('name', 'vikas'), ('age', 21), ('gender', 'male'), (3, 9)])
dict_keys(['name', 'age', 'gender', 3])
dict_values(['vikas', 21, 'male', 9])

In [80]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

## Dictionary Comprehension

{ key : value for vars in iterable }

In [84]:
# print 1st 10 numbers and their squires
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [86]:
# using existing dictionary
distances = {'delhi':1000,'mumbai':1700,'bangalore':2500}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1054.0, 'bangalore': 1550.0}

In [88]:
# Using zip
days = ['Sunday','Monday',"Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,39.7,45,43.9,29.9,34,28]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 39.7,
 'Tuesday': 45,
 'Wednesday': 43.9,
 'Thursday': 29.9,
 'Friday': 34,
 'Saturday': 28}

In [90]:
# Using if Condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [92]:
# Nested Comprehension
# print tables of number from 2 to 5

{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}