### Formated String Literals

* begins f or F.
* written in single or triple single or double or triple double quotation.
* Python expression written in { python expression }.

https://docs.python.org/3/tutorial/inputoutput.html#tut-f-strings

In [3]:
name = "Vikas Kasaudhan"
age = 21
f'My name is {name} and i am {age} years old.'

'My name is Vikas Kasaudhan and i am 21 years old.'

In [6]:
name = "Vikas Kasaudhan"
age = 21
F'My name is {name} and i am {age} years old.'

'My name is Vikas Kasaudhan and i am 21 years old.'

In [8]:
name = "Vikas Kasaudhan"
age = 21
f'''My name is {name} and i am {age} years old.'''

'My name is Vikas Kasaudhan and i am 21 years old.'

In [10]:
name = "Vikas Kasaudhan"
age = 21
f"My name is {name} and i am {age} years old."

'My name is Vikas Kasaudhan and i am 21 years old.'

In [12]:
name = "Vikas Kasaudhan"
age = 21
f"""My name is {name} and i am {age} years old."""

'My name is Vikas Kasaudhan and i am 21 years old.'

### str.format()

https://docs.python.org/3/library/stdtypes.html#str.format

In [17]:
name = "Vikas Kasaudhan"
age = 21
'My name is {} and i am {} years old.'.format(name,age)

'My name is Vikas Kasaudhan and i am 21 years old.'

In [19]:
name = "Vikas Kasaudhan"
age = 21
'''My name is {} and i am {} years old.'''.format(name,age)

'My name is Vikas Kasaudhan and i am 21 years old.'

In [21]:
name = "Vikas Kasaudhan"
age = 21
"My name is {} and i am {} years old.".format(name,age)

'My name is Vikas Kasaudhan and i am 21 years old.'

In [23]:
name = "Vikas Kasaudhan"
age = 21
"""My name is {} and i am {} years old.""".format(name,age)

'My name is Vikas Kasaudhan and i am 21 years old.'

In [29]:
name = "Vikas Kasaudhan"
age = 21
''''My name is {} and i am {} years old.'''''.format(name,age)

"'My name is Vikas Kasaudhan and i am 21 years old."

In [31]:
yes_votes = 42_572_654
total_votes = 85_705_149
percentage = yes_votes / total_votes
'{:-9} YES votes  {:2.2%}'.format(yes_votes, percentage)

' 42572654 YES votes  49.67%'

* (-) means left aligned
* 9 creates 9 spaces
* % multiply by 100 with % sign
* .2 precision after decimal
* 2 minimum total field width (smallest number of character to use) but not important because if text is longer python ignores it

In [34]:
s = 'Hello, world.'
print(str(s))

print(repr(s))

(print)

x = 10 * 3.25
y = 200 * 200
s = 'The value of x is ' + repr(x) + ', and y is ' + repr(y) + '...'
print(s)

# The repr() of a string adds string quotes and backslashes:
hello = 'hello, world\n'
hellos = repr(hello)
print(hellos)

# The argument to repr() may be any Python object:
repr((x, y, ('spam', 'eggs')))

Hello, world.
'Hello, world.'
The value of x is 32.5, and y is 40000...
'hello, world\n'

"(32.5, 40000, ('spam', 'eggs'))"

* The str() function is meant to return representations of values which are fairly human-readable.
* repr() is meant to generate representations which can be read by the interpreter  (or will force a SyntaxError if there is no equivalent syntax)
* number , lists and dictionary have the same representation with both function

In [39]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [41]:
print(f'The value of pi is approximately {23.5463221:.3f}.')

The value of pi is approximately 23.546.

In [57]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10}==>{phone:10d}')

Sjoerd    ==>      4127
Jack      ==>      4098
Dcab      ==>      7678

In [45]:
table.items()

dict_items([('Sjoerd', 4127), ('Jack', 4098), ('Dcab', 7678)])

In [66]:
animals = 'eels'
print(f'My hovercraft is full of {animals}.')
print(f'My hovercraft is full of {animals!r}.')

My hovercraft is full of eels.
My hovercraft is full of 'eels'.

#### used to convert the value before formatted
* '!a' applies ascii()
* '!s' applies str()
* '!r' applies repr()

In [70]:
bugs = 'roaches'
count = 13
area = 'living room'
print(f'Debugging {bugs=} {count=} {area=}')

Debugging bugs='roaches' count=13 area='living room'

The = specifier can be used to expand an expression to the text of the expression, an equal sign, then the representation of the evaluated expression:

In [73]:
print('{0} and {1}'.format('spam', 'eggs'))

print('{1} and {0}'.format('spam', 'eggs'))

spam and eggs
eggs and spam

In [75]:
print('This {food} is {adjective}.'.format(
      food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [77]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred', other='Georg'))

The story of Bill, Manfred, and Georg.

In [79]:
for x in range(1, 11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000