# Let's Create a function (with docstring)

In [19]:
# creating the fun ction
def is_even(num):
    """
    This Function returns if the given number is odd or even
    input - any valid integer
    output - Odd/Even
    crested on - 30th Aug 2025
    created by - Vikas Kasaudhan
    """
    if type(num)==int:
        if num%2==0:
            return "Even"
        else:
            return "Odd"
    else:
        return "Pagal hai kya"

In [21]:
# Function
# function_name(input)
# using the function
# calling the function 
for i in range(1,11):
    x = is_even(i)
    print(i,x)

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even

In [23]:
print(is_even.__doc__)

    This Function returns if the given number is odd or even
    input - any valid integer
    output - Odd/Even
    crested on - 30th Aug 2025
    created by - Vikas Kasaudhan

## Parameter Vs Argument

# Types of Argument
* Default Argument
* Positional
* Keyword

In [25]:
# Default Argument
def power(a = 1, b = 1):
    return a**b

In [31]:
power(4,5)

1024

In [34]:
# Positional
# Argument receives values in same order in which order we send the data
power(2,5)

32

In [36]:
# keyword Argument
power(b=3,a=2)

8

### *args  and  **kwargs

*args  and  **kwargs  are special Python keywords that are used to pass the variable length of arguments to a function

In [44]:
# *args
# allows us to pass a variable number of non-keyword arguments to a function

def multiply(*args):
    prod = 1
    for i in args:
        prod *= i
    return prod

In [46]:
multiply(1,2,3,4,5,6,7,8,9)

362880

In [48]:
# **kwargs
# **kwargs allows us to pass any number of keywords arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

def display(**kwargs):

    for (key,value) in kwargs.items():
        print(key,"->",value)

In [50]:
display(India='New Delhi',Nepal="kathmandu",srilanka="colombo",pakistan="Islamabad")

India -> New Delhi
Nepal -> kathmandu
srilanka -> colombo
pakistan -> Islamabad

### Points to remember while using  *args  and  **kwargs
* order of the arguments matter (normal -> *args -> **kwargs)
* The words  *args  and  **kwargs  are only a convention , we can use any name of our choice

# How Functions are executed in Memory

### WITHOUT RETURN STATEMENT
* If nothing is return then function will return None

In [55]:
L = [1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

# Variable Scope

In [58]:
def g(y):
    print(x)
    print(x+1)

x = 5
g(x)
print(x)

5
6
5

In [60]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [62]:
# global variable can not be changed only can be used
def h(y):
    x += 1
x = 5
h(x)
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [64]:
# it can be changed using global keyword
def h(y):
    global x
    x += 1
x = 5
h(x)
print(x)

6

In [70]:
def f(x):
    x = x + 1
    print('in f(x): x = ',x)
    return x
x = 3
z = f(x)
print('in main program scope : z=',z)
print('in main program scope: x=',x)

in f(x): x =  4
in main program scope : z= 4
in main program scope: x= 3

## Nested Function

In [73]:
def f():
    def g():
        print("inside function g:")
    g()
    print("inside function f:")

In [75]:
f()

inside function g:
inside function f:

In [77]:
g()

TypeError: g() missing 1 required positional argument: 'y'

In [79]:
def f():
    def g():
        print("inside function g:")
        f()
    g()
    print("inside function f:")

In [83]:
#f()

In [87]:
def g(x):
    def h():
        x = 'abc'
    x += 1
    print("in g(x): x=",x)
    h()
    return x

x = 3
z = g(x)
print(z)

in g(x): x= 4
4

In [89]:
def g(x):
    def h(x):
        x += 1
        print("in h(x): x =",x)
    x += 1
    print('in g(x): x =',x)
    h(x)
    return x

x = 3
z = g(x)
print("in main program: x = ",x)
print('in main program scope: z = ',z)

in g(x): x = 4
in h(x): x = 5
in main program: x =  3
in main program scope: z =  4

## Functions are 1st class citizens

first class citizen means --> any operation(passed as an argument, returned from the function and assigned to a variable) can be performed on this

In [94]:
# type and id
def square(num):
    return num**2
print(type(square))
print(id(square))

<class 'function'>
2690129320576

In [96]:
# reassign
x = square
print(id(x))
print(x(3))

2690129320576
9

In [98]:
# deleting a function

# del square

In [100]:
# storing
L = [1,2,3,4,5,square]
print(L)

[1, 2, 3, 4, 5, <function square at 0x000002725833DA80>]

In [102]:
# are immutable
s = {square}
print(s)
print(type(s))

{<function square at 0x000002725833DA80>}
<class 'set'>

In [104]:
# returning a function
# we are able to call the inside function because external function returning the reference of function
def f():
    def x(a,b):
        return a+b
    return x

val = f()(3,4)
print(val)

7

In [106]:
# function as argument

In [108]:
def func_a():
    print('inside func_a')
def func_b(z):
    print('inside func_c')
    return z()

print(func_b(func_a))

inside func_c
inside func_a
None

## Benefits of using a Function
* Code Modularity (divided into mudules)
* Code Readibility
* Code Reusability

## Lambda Function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only  have one expression.

In [116]:
# x -> x^2
a = lambda x:x**2
a(2)

4

In [118]:
# x , y -> x+y
a = lambda x,y:x+y
a(3,6)

9

### Difference between lambda vs Normal Function
* No name
* lambda has no return value (infact, return a function)
* lambda is written in 1 line
* not reusable

#### Then why use lambda function?
They are used with HOF(higher order function)

In [122]:
# check if a string has 'a'
a = lambda s:'a' in s
a('vikas')

True

In [126]:
# odd or even
a = lambda x:'even' if x%2==0 else 'odd'
a(5)

'odd'

In [1]:
# example

def square(x):
    return x**2

# HOF
def transform(f,L):
    output = []
    for i in L:
        output.append(f(i))
    print(output)
L = [1,2,3,4,5]
transform(square,L)

[1, 4, 9, 16, 25]

In [3]:
# HOF
def transform(f,L):
    output = []
    for i in L:
        output.append(f(i))
    print(output)
L = [1,2,3,4,5]
transform(lambda x:x**2,L)

[1, 4, 9, 16, 25]

## Map / Filter / Reduce

In [8]:
print(map(lambda x:x**2,[1,2,3,4,5]))
print(list(map(lambda x:x**2,[1,2,3,4,5])))

<map object at 0x000002E1B300CB80>
[1, 4, 9, 16, 25]

In [10]:
L = [1,2,3,4,5,6,7,8,9]
list(map(lambda x:'even' if x%2==0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [18]:
users = [
    {
        'name':'vikas',
        'age':21,
        'gender':'male'
    },
    {
        'name':'madhuri gautam',
        'age':20,
        'gender':'female'
    },
    {
        'name':'arti',
        'age':23,
        'gender':'female'
    }
]

print(list(map(lambda user:user,users)))
print(list(map(lambda user:user['name'],users)))
print(list(map(lambda user:user['age'],users)))
print(list(map(lambda user:user['gender'],users)))

[{'name': 'vikas', 'age': 21, 'gender': 'male'}, {'name': 'madhuri gautam', 'age': 20, 'gender': 'female'}, {'name': 'arti', 'age': 23, 'gender': 'female'}]
['vikas', 'madhuri gautam', 'arti']
[21, 20, 23]
['male', 'female', 'female']

In [22]:
L = [3,4,5,6,7,8,9]
print(filter(lambda x:x>5,L))
print(list(filter(lambda x:x>5,L)))

<filter object at 0x000002E1B2D5D090>
[6, 7, 8, 9]

In [24]:
fruits = ['apple','guava','grapes','banana']
print(list(filter(lambda fruit:fruit.startswith('a'),fruits)))

['apple']

In [36]:
# sum of all items
import functools

print(functools.reduce(lambda x,y:x+y,[1,2,3,4,5,6,7,8,9]))
print(functools.reduce(lambda x,y:x-y,[1,2,3,4,5,6,7,8,9]))
print(functools.reduce(lambda x,y:x*y,[1,2,3,4,5,6,7,8,9]))
print(functools.reduce(lambda x,y:min(x,y),[1,2,3,4,5,6,7,8,-9]))
print(functools.reduce(lambda x,y:x if x>y else y,[1,2,3,4,5,6,7,8,-9]))

45
-43
362880
-9
8

In [40]:
import functools
L = [[1,2,3,4,5],[6,7,8,9,3],[5,3,1,2,8]]
print(functools.reduce(lambda x,y:x+y,L))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 5, 3, 1, 2, 8]

In [46]:
s = input("enter string")
list(filter(lambda x:x.lower()=='a' or x.lower()=='e' or x.lower()=='i' or x.lower()=='o' or x.lower()=='u',s))

enter string vikas kasaudhan

['i', 'a', 'a', 'a', 'u', 'a']

In [74]:
L = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda x,i:x**i ,L,range(len(L)))))

[1, 2, 9, 64, 625, 7776, 117649, 2097152, 43046721]

In [78]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9]
l3 = [8,5,3,1,10,12]
list(map(lambda x:x,l1+l2+l3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 5, 3, 1, 10, 12]

In [110]:
def closest_distance(L,Q):
    dis = ((L[0][0]-Q[0])**2 + (L[0][1]-Q[1])**2)**0.5
    t = L[0]
    for i in range(1,len(L)):
        dis2 = ((L[i][0]-Q[0])**2 + (L[i][1]-Q[1])**2)**0.5
        if dis2<dis:
            dis = dis2
            t = L[i]
    return t

L = [(7,7),(2,2),(3,3),(4,4),(5,5),(1,2)]
Q = (1,2)
point = closest_distance(L,Q)
print("nearest to ",Q, "is",point)

nearest to  (1, 2) is (1, 2)

In [116]:
def most_occurence_word(s):
    L = []
    for i in s.split():
        t = (i,s.count(i))
        L.append(t)
    t1 = L[0]
    for i in range(1,len(L)):
        if L[i][1]>t1[1]:
            t1 = L[i]
    return t1
s = input("enter string")
occur = most_occurence_word(s)
print(occur[0],"->",occur[1])

enter string hello my name is vikas and your name is also vikas then why are you here

name -> 2

In [124]:
def new_dict(L):
    dic = {}
    for i in L:
        for (key,value) in i.items():
            dic[key] = value
    return dic

dict1 = {1:10,2:20}
dict2 = {3:30,4:40}
dict3 = {5:50,6:60}
L = [dict1,dict2,dict3]
new_dic = new_dict(L)
print(new_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [126]:
def unique_list(L):
    l = []
    for i in L:
        if i not in l:
            l.append(i)
    return l
L = [1,1,2,2,2,3,3,3,4,4,4,5,5,5]
new_list = unique_list(L)
print(new_list)

[1, 2, 3, 4, 5]

In [154]:
def sequence(s):
    l = []
    for i in s.split(sep='-'):
        l.append(i)
    l = sorted(l)
    return l

s = 'green-red-yellow-black-white'
sorted_sequence = "-".join(sequence(s))
print(sorted_sequence)

black-green-red-white-yellow

In [138]:
s.split(sep='-')

['green', 'red', 'yellow', 'black', 'white']

In [164]:
def upper_lower(s):
    count1 = 0
    count2 = 0
    for i in range(len(s)):
        if s[i].islower():
            count1 += 1
        if s[i].isupper():
            count2 += 1
    l = []
    l.append(count1)
    l.append(count2)
    return l
s = input("enter string")
l = upper_lower(s)
print("no of lowercase letters = ",l[0])
print("no of uppercase letters = ",l[1])

enter string vikas

no of lowercase letters =  5
no of uppercase letters =  0

In [166]:
def print_even(L):
    l = []
    for i in L:
        if i%2==0:
            l.append(i)
    return l
L = [1,2,3,4,5,6,7,8,9]
l = print_even(L)
print(l)

[2, 4, 6, 8]

In [ ]:
def perfect(num):
    sum = 0
    for i in range(1,num):
        if num%i==0:
            sum += i
    if sum==num:
        return 'perfect'
    else:
        return 'not perfect'
n = int(input("enter number"))
print(perfect(n))