# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (can not be changed).
However, a set itself is mutable. We can add or remove items from it.
Sets can also mbe used to perform mathematical set operation like union, intersection, symmetric difference etc.

Characteristics
* Unordered
* Mutable
* No Duplicates
* Can not contain mutable data type

## Creating

In [10]:
# empty
s = {}
print(s)
print(type(s))
s = set()
print(s)
print(type(s))

# 1D and 2D
s = {1,2,3,4}
print(s)
s = {1,2,3,{5,6,8}}
print(s)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3, 4}

TypeError: unhashable type: 'set'

In [16]:
s = {1,2,3,4,True,'vikas',(6,7,8)}
print(s)
# not printing True because duplicate
# using type conversion
s = set([1,2,3,4])
print(s)

{'vikas', 1, 2, 3, 4, (6, 7, 8)}
{1, 2, 3, 4}

In [18]:
# set can not have mutable items
s = {1,2,3,4,[6,7,8]}
print(s)

TypeError: unhashable type: 'list'

In [20]:
s1 = {1,2,3}
s2 = {3,2,1}
print(s1==s2)
# because of unordered

True

## Accessing

In [23]:
# can not indexing and slicing
s = {1,2,3,4}
print(s[0])

TypeError: 'set' object is not subscriptable

## Editing

In [26]:
# can not edit
s = {1,2,3,4}
s[0] = 100
print(s)

TypeError: 'set' object does not support item assignment

## Adding items

In [31]:
s = {1,2,3,4,5}
# add
s.add(8)
print(s)

# update
s.update([6,7,8,9])
print(s)

{1, 2, 3, 4, 5, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Deleting

In [38]:
# del
s = {1,2,3,4}
print(s)
del s
print(s)

{1, 2, 3, 4}

NameError: name 's' is not defined

In [40]:
# discard
s = {1,2,3,4,5}
s.discard(5)
print(s)
s.discard(8)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [42]:
# remove
s = {1,2,3,4,5,6,7,8,89}
s.remove(5)
print(s)
s.remove(20)
print(s)

{1, 2, 3, 4, 6, 7, 8, 89}

KeyError: 20

In [54]:
# pop
s = {2,3,4,5,6,7,8,9}
s.pop()

2

In [56]:
# clear
s = {2,3,4,5,6,7,8,9}
s.clear()
print(s)

set()

## set operation

In [73]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
# Union(|)
print(s1 | s2)

# intersection
print(s1 & s2)

 # difference
print(s1-s2,s2-s1)

# symmetric difference
print(s1^s2,s2^s1)

# Membership
print(1 in s1)
print(1 not in s1)

# loop
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}
{1, 2, 3} {8, 9, 6, 7}
{1, 2, 3, 6, 7, 8, 9} {1, 2, 3, 6, 7, 8, 9}
True
False
1
2
3
4
5

## Functions

In [78]:
# len / sum / min / max / sorted
s = {1,2,6,3,4,8,7}
print(len(s))
print(max(s))
print(sum(s))
print(sorted(s))

7
8
31
[1, 2, 3, 4, 6, 7, 8]

In [80]:
# union / update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [82]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [84]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
print(s1.intersection(s2))

{4, 5}

In [86]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8, 9}

In [90]:
# difference / difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
print(s1.difference(s2))
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8, 9}

In [88]:
# symmetric_difference / symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
print(s1.symmetric_difference(s2))
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8, 9}
{1, 2, 3, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [96]:
#  isdisjoint / issubset / issuperset
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

False
False
False

In [100]:
# copy
s1 = {1,2,3,4,5}
s2 = s1.copy()
print(s1,s2)
print(id(s1),id(s2))

{1, 2, 3, 4, 5} {1, 2, 3, 4, 5}
1724620324448 1724623666336

# Frozenset
Frozenset is just an immutable version of a Python set Object

In [103]:
# create 
fs = frozenset([1,2,3,4,5])
print(fs)
fs.

frozenset({1, 2, 3, 4, 5})

In [105]:
# what works and does not work
# works -> all read functions
# does not work -> write operation

In [107]:
fs1 = frozenset([1,2,3,4,5])
fs2 = frozenset([4,5,6,7,8])
print(fs1 | fs2)
print(fs1 & fs2)
print(fs1 ^ fs2)
print(fs1 - fs2)

frozenset({1, 2, 3, 4, 5, 6, 7, 8})
frozenset({4, 5})
frozenset({1, 2, 3, 6, 7, 8})
frozenset({1, 2, 3})

In [109]:
# when to use --> when we want not to change
# 2D frozenset
fs = frozenset([1,2,3,4,frozenset([5,6,7])])
print(fs)

frozenset({1, 2, 3, 4, frozenset({5, 6, 7})})

# Set Comprehension

In [112]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}