# Tuples

A tuple in Python is similar to a list. The difference between the two is that we can not change the element of a tuple once it is assigned whereas we can change the element of a list.

In short , a tuple is an immutable list. A tuple can not be changed in any way once it is created.

### Characteristics
* Ordered
* Unchangable
* Allows duplicate

### Plan of attack
* Creating
* Accessing
* Adding
* Deleting
* Operation
* Functions

## Creating

In [19]:
# empty
t1 = ()
print(t1)
# creating with a singla item
t2 = ('vikas')
print(t2)
print(type(t2))
# homogeneous
t3 = (1,2,3,4,5)
print(t3)
# heterogeneous
t4 = (1,2,3,4,True,[1,2,3])
print(t4)
# 2d tuple
t5 = (1,2,3,4,(5,6))
print(t5)
t6 = (1,)
print(type(t6))
print(tuple('vikas'))

()
vikas
<class 'str'>
(1, 2, 3, 4, 5)
(1, 2, 3, 4, True, [1, 2, 3])
(1, 2, 3, 4, (5, 6))
<class 'tuple'>
('v', 'i', 'k', 'a', 's')

## Accessing items

In [28]:
t = (1,2,3,4,5,6,7)
print(t[0])
print(t[-1])
print(t[:])
print(t[1:5])

1
7
(1, 2, 3, 4, 5, 6, 7)
(2, 3, 4, 5)

### Editing

In [31]:
t = (1,2,3,4,5,6,7)
t[2] = 100
# immutable just like string

TypeError: 'tuple' object does not support item assignment

## Adding

In [ ]:
# not possible

## Deleting

In [33]:
t = (1,2,3,4,5,6,7)
print(t)
del t
print(t)

(1, 2, 3, 4, 5, 6, 7)

NameError: name 't' is not defined

## Operation

In [39]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1+t2)
print(t1*3)
print(1 in t1)
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4

## Functions

In [51]:
# len / sum / min / max / sorted /count /index
t = (1,2,3,4,5)
print(min(t))
print(sum(t))
print(sorted(t ,reverse=True))
print(t.count(3),t.count(9))
print(t.index(3))
print(t.index(49))

1
15
[5, 4, 3, 2, 1]
1 0
2

ValueError: tuple.index(x): x not in tuple

## Difference between Lists and Tuples
* Syntax
* Mutability
* Tuple are faster than list
* Built in functionality (more in list)
* Error prone
* Usability

In [1]:
# Takes more memory also
import time

L = list(range(100000))
T = tuple(range(10000))
start = time.time()
for i in L:
    i*5
print("list time = ",time.time()-start)

start = time.time()
for i in T:
    i*5
print("Tuple time = ",time.time()-start)

list time =  0.008192062377929688
Tuple time =  0.001504659652709961

In [6]:
a = (1,2,3,4,5)
b = a

print(a)
print(b)

a = a+(6,)
print(a)
print(b)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5)

## Special Syntax

In [9]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [11]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [13]:
# swapping
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [15]:
a,b , *others = (1,2,3,4,5,6)
print(a,b)
print(others)

1 2
[3, 4, 5, 6]

In [25]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
print(zip(a,b))
print(list(zip(a,b)))
print(tuple(zip(a,b)))

<zip object at 0x00000127CFA54E00>
[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))

In [35]:
a = (1,2,3,4,4,6,7,8)
b = (5,6,7,8,9,60)
print(zip(a,b))
print(list(zip(a,b)))
print(tuple(zip(a,b)))

<zip object at 0x00000127CFA8EA40>
[(1, 5), (2, 6), (3, 7), (4, 8), (4, 9), (6, 60)]
((1, 5), (2, 6), (3, 7), (4, 8), (4, 9), (6, 60))

In [ ]:
import turtle

# Setup screen
screen = turtle.Screen()
screen.bgcolor("white")
screen.title("Kolam Design")

# Setup turtle (pen)
pen = turtle.Turtle()
pen.speed(0)  # fastest drawing speed
pen.color("blue")

# Function to draw a circle around a dot
def draw_circle(x, y, radius=20):
    pen.penup()
    pen.goto(x, y - radius)  # move to bottom of circle
    pen.pendown()
    pen.circle(radius)

# Function to place dots
def place_dots(rows, cols, spacing=50):
    dots = []
    start_x, start_y = -cols * spacing // 2, rows * spacing // 2
    for i in range(rows):
        for j in range(cols):
            x = start_x + j * spacing
            y = start_y - i * spacing
            pen.penup()
            pen.goto(x, y)
            pen.dot(5, "black")  # draw dot
            dots.append((x, y))
    return dots

# Function to create Kolam pattern (circles around dots)
def kolam(rows=4, cols=4, spacing=50):
    dots = place_dots(rows, cols, spacing)
    for (x, y) in dots:
        draw_circle(x, y, spacing // 2)

# Draw a Kolam
kolam(10, 10, 60)

# Exit on click
screen.mainloop()

In [3]:
import turtle